nav {
  background: #757de8;
}

.mat-toolbar {
  background: #002984;
  color: antiquewhite;
}
.mat-tab-link {
  text-decoration: none;
  color: aliceblue;
}
.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 25px;
  text-decoration-color: aliceblue;
}
