<!-- *ngIf="authService.currentUser != null" !-->
<mat-toolbar>
    <mat-toolbar-row style="background: blueviolet;">
        <span> <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button></span>
        <span>NavSoft</span>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>
            <button mat-button [matMenuTriggerFor]="animals">Multi Function</button>
            <mat-menu #animals="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="Functionality">Functionality</button>
                <button mat-menu-item [matMenuTriggerFor]="form">form</button>
            </mat-menu>

            <mat-menu #Functionality="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="modal">Angular Material Modal</button>
                <button mat-menu-item [matMenuTriggerFor]="dataTableStatic">Data Tabel Static</button>
                <button mat-menu-item [matMenuTriggerFor]="dataTableDynamic">DataTable Dynamic</button>
            </mat-menu>

            <mat-menu #form="matMenu">
                <button (click)="addmore()" mat-menu-item>addmore</button>
            </mat-menu>

            <mat-menu #modal="matMenu">
                <button mat-menu-item>Pupup Static</button>
                <button mat-menu-item>Pupup Global</button>
            </mat-menu>

            <mat-menu #dataTableStatic="matMenu">
                <button mat-menu-item>datatable Static search</button>
                <button mat-menu-item>datatable Static pagination</button>
                <button mat-menu-item>datatable Static sort</button>
            </mat-menu>

            <mat-menu #dataTableDynamic="matMenu">
                <button mat-menu-item>datatable dynamic search</button>
                <button mat-menu-item>datatable dynamic sort</button>
                <button mat-menu-item>datatable dynamic pagination</button>
                <button mat-menu-item>datatable dynamic filter</button>
                <button mat-menu-item disabled>datatable select row</button>
            </mat-menu>


            <a [routerLink]="['/user-list']" mat-button>User List</a>
            <a [routerLink]="['/user-detail']" mat-button>User Detail</a>
            <a [routerLink]="['/home']" mat-button>Sign In</a>

        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side" opened role="navigation">
        <mat-nav-list>
            <a mat-list-item routerLink='/first'>First Component</a>
            <a mat-list-item routerLink='/second'>Second Component</a>
            <a mat-list-item routerLink='/first'>First Component</a>
            <a mat-list-item routerLink='/second'>Second Component</a>
            <a mat-list-item routerLink='/first'>First Component</a>
            <a mat-list-item routerLink='/second'>Second Component</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>