<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">User List</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>
                    ID
                  </th>
                  <th>
                    Name
                  </th>
                  <th>
                    Department
                  </th>
                  <th>
                    Age
                  </th>
                  <th>
                    City
                  </th>
                  <th>
                    Country
                  </th>
                  <th>
                    Gender
                  </th>
                  <th>
                    Action
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let employee of employeeList">
                    <td>
                      {{employee.id}}
                    </td>
                    <td>
                      {{employee.name}}
                    </td>
                    <td>
                      {{employee.department}}
                    </td>
                    <td>
                      {{employee.age}}
                    </td>
                    <td>
                      {{employee.city}}
                    </td>
                    <td>
                      {{employee.country}}
                    </td>
                    <td>
                      {{employee.gender}}
                    </td>
                    <td>
                      <button mat-icon-button (click)="editEmployee(employee.id)" style="color:#002984;">
                        <mat-icon>edit</mat-icon>
                      </button> | <button mat-icon-button (click)="deleteEmployee(employee.id)" style="color:#002984;">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>