<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">User List</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>
                    ID
                  </th>
                  <th>
                    Name
                  </th>
                  <th>
                    Department
                  </th>
                  <th>
                    Age
                  </th>
                  <th>
                    City
                  </th>
                  <th>
                    Country
                  </th>
                  <th>
                    Gender
                  </th>
                  <th>
                    Action
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let user of userList">
                    <td>
                      {{user.id}}
                    </td>
                    <td>
                      {{user.name}}
                    </td>
                    <td>
                      {{user.department}}
                    </td>
                    <td>
                      {{user.age}}
                    </td>
                    <td>
                      {{user.city}}
                    </td>
                    <td>
                      {{user.country}}
                    </td>
                    <td>
                      {{user.gender}}
                    </td>
                    <td>
                      <i class="material-icons" style="color: #0000FF">delete</i> | <i class="material-icons"
                        style="color: #0000FF">edit</i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>